[2017-01-28 07:40] abhigyank opened #6 "Move CSS and Js from index.html to resp files"
create style.css and script.s and move the CSS and JS from the index to them respectively.

[2017-02-01 10:33] #6 closed

[2017-02-04 13:31] HitRam opened #11 "Chat can't be scrolled"
I tried making overflow: auto but didn't help.

[2017-02-04 13:32] HitRam opened #12 "Anyone can see the info about user joined or user left"
The information about user joining or leaving should be displayed only to users who are in room not to the users who haven't set their username yet.

PS: if you leave just close the site without setting your name, it will broadcast null left 😛

[2017-02-04 16:27] HitRam opened #13 "Html and Javascript injection."
Try sending this as message

a pop up will come

[2017-02-04 17:32] abhigyank commented on #13
Fixed in commit 22aff1e .

[2017-02-04 17:32] #13 closed

[2017-02-11 08:20] HitRam opened #16 "Description of room is undefined to other users."

[2017-02-11 09:21] HitRam opened #17 "When a new room is created, the text area goes hidden for users who don't join the room."
<img width="1076" alt="screen shot 2017-02-11 at 2 51 00 pm" src="https://cloud.githubusercontent.com/assets/19632768/22852771/925dab86-f069-11e6-87b1-e2390c3581aa.png">

[2017-02-11 09:27] abhigyank commented on #17
I'll look into it.

[2017-02-11 09:40] abhigyank commented on #17
Fixed in commit cd54256  .

[2017-02-11 09:40] #17 closed

[2017-02-11 10:15] HitRam opened #18 "Show number of users active in a room"

[2017-02-11 13:23] #16 closed

[2017-02-12 16:56] HitRam opened #19 "Time is hard coded"
New comer issue.

[2017-02-13 08:22] abhigyank commented on #11
Fixed in commit cf8450c .

[2017-02-13 08:22] #11 closed

[2017-02-13 09:35] HitRam opened #20 "Instead of username, room name is being shown."

[2017-02-13 09:55] HitRam opened #21 "When someone else creates room, someone else sees even if he isn't joined"
<img width="1280" alt="screen shot 2017-02-13 at 3 23 33 pm" src="https://cloud.githubusercontent.com/assets/19632768/22878630/829aa5f8-f200-11e6-9068-fd888c36b827.png">

[2017-02-13 11:02] #20 closed

[2017-02-14 09:58] abhigyank commented on #21
I didnt understand?

[2017-02-14 18:25] #21 closed

[2017-02-14 18:25] #19 closed

[2017-02-16 07:43] #18 closed

[2017-02-16 13:52] HitRam opened #22 "When a message comes chat automatically comes down."
When someone is reading older messages, this causes problem

[2017-02-16 13:53] HitRam opened #23 "Undefined just left instead of username just left in some cases"

[2017-02-16 13:55] abhigyank commented on #23
This is the case when someone closes the tab without creating an username directly from the first "What's your nickname?" page.

[2017-02-16 16:22] HitRam opened #24 "Show notification if new message comes to any room"

[2017-02-17 11:20] #23 closed

[2017-02-18 14:02] HitRam opened #25 "username becomes undefined sometimes."
<img width="771" alt="screen shot 2017-02-18 at 7 31 54 pm" src="https://cloud.githubusercontent.com/assets/19632768/23093732/0294976e-f611-11e6-8f15-e1e757c77bb0.png">

[2017-02-18 14:05] HitRam opened #26 "Show username of person's online in a particular room."

[2017-02-18 14:26] abhigyank commented on #25
Sometimes as in?

[2017-02-18 20:39] HitRam commented on #25
couldn't figure it out!

[2017-02-18 21:02] abhigyank commented on #25
What if the user chose the username as "undefined" in this case? I don't think this is a legitimate issue.

[2017-02-18 21:27] abhigyank commented on #22
Fixed in commit f63209.

[2017-02-18 21:27] #22 closed

[2017-02-19 07:21] HitRam opened #27 "Improve Readme.md"

[2017-02-19 09:22] abhigyank commented on #12
Close?

[2017-02-19 18:49] #12 closed

[2017-02-19 18:50] HitRam opened #28 "Smiley's are not working."

[2017-02-21 18:34] abhigyank commented on #23
@HitRam This issue is not fixed.

[2017-05-07 18:21] sahilarora535 commented on #25
@abhigyank Even I have faced this issue. Please consider looking into it.

[2017-05-16 11:01] abhigyank commented on #25
@sahilarora535 Can you specify how to replicate?

[2017-05-17 17:35] sahilarora535 commented on #25
There were no exact steps. All I did was joined a lot of times, and entered some name. The name was shown undefined. It was random. I don't exactly know how to replicate it.

[2017-06-17 11:08] #25 closed

[2017-06-19 15:04] sahilarora535 commented on #25
@abhigyank solved? :open_mouth:

[2017-06-20 09:13] abhigyank commented on #25
@sahilarora535 There was no reproduction.

[2017-12-26 04:53] abhigyank opened #29 "Add functionality to search feature"
Above the list of rooms is a search box and button which is of no use right now, add a functionality to search for a particular room.

[2017-12-26 04:54] abhigyank opened #30 "Improve position and CSS of New Room button"
Redesign the New Room button and put it in a better place.

[2018-12-14 17:53] abhigyank opened #31 "Add search icon to search button"
On the blue icon next to the search input add search icon (magnifying glass) over the blue button. (frontend only).

[2018-12-14 17:59] abhigyank opened #32 "Decrease size of left sidebar"
Decrease sidebar to about 30% and increase the right sidebar to about 70%. Also if you're able to centre-align the room list with respect to the left sidebar by adding some left margin to it.

[2018-12-15 14:30] Bisane132 commented on #32
I claim this issue

[2018-12-15 15:09] Deepshikha99 commented on #30
I claim this issue

[2018-12-23 06:06] abhigyank commented on #32
Closed in #33.

[2018-12-23 06:06] #32 closed

[2018-12-23 06:13] abhigyank commented on #30
@Deepshikha99 good job on working on this. However don't you think the dropdown menu is a bit redundant for just one option. Do you think instead if we put a '+' sign button it'd look simple and good? You can probably use plus sign icon from the web or an image too.
Can you do this and update the PR?

[2018-12-24 07:12] #31 closed

[2018-12-24 07:15] abhigyank commented on #30
Closed in #35 .

[2018-12-24 07:15] #30 closed

[2018-12-28 17:25] abhigyank commented on #29
After above commit, next features -
* When search box is empty show all the room as default without pressing enter.
* Live search - When more than 3 letters are typed show those room which match that part without pressing enter.

[2018-12-30 06:30] #29 closed

[2019-06-20 14:38] agarwalr98 commented on #28
Where is the problem with smileys??
Can you put a screenshot if needed?

[2019-06-20 14:44] agarwalr98 commented on #26
Should the username of all person's be shown as the page loads in a room or button is required ??

[2019-06-21 04:52] abhigyank commented on #28
When you send a message with a smiley, say :) it just shows :) instead in the message it should change to a smiling emoji.

[2019-06-21 05:00] agarwalr98 commented on #28
Ohh! means we need to send an image(emoji's) depending on which one has selected.

[2020-04-07 12:33] ghost commented on #28
But, why we need images? Why we aren't using emogies like <p>&#128580</p>

[2020-04-10 12:05] abhigyank commented on #28
@ghost we don't images directly. We need to use a js package that sends emojis.

[2020-07-01 05:04] harshitmittal99 commented on #28
There is a library named node-emoji. Can we use that?

[2020-07-01 05:07] abhigyank commented on #28
Yes, go for it.

[2020-07-03 17:07] LalitNM opened #48 "make layout responsive"
At present, the layout is not responsive, when anybody tries to run this app on a smartphone, they encounter multiple errors.
A screenshot would be enough to explain the issue.
![Baatcheet](https://user-images.githubusercontent.com/63332774/86488177-c4e31700-bd7d-11ea-81e0-2e5cb98b66ac.png)

My suggestion would be to use Bootstrap(or some other framework) to style front-end.

[2020-07-06 14:56] LalitNM commented on #28
@kpbot claim

[2020-07-08 05:02] LalitNM opened #51 "Add Contributing.md"
There is no contributing.md. A link for the same is there in readme.md, but that leads to 404 page.

[2020-07-08 09:03] LalitNM commented on #28
@kpbot claim

[2020-07-08 09:04] LalitNM commented on #28
@kpbot claim --force

[2020-07-10 15:10] abhigyank commented on #28
Fixed in #50.

[2020-07-10 15:10] #28 closed

[2020-07-11 05:14] abhigyank opened #52 "Improve the message design"
A message sent/received right now is has very big height (probably due to it being a <p> tag ). The message box height should be in much smaller. And the sender name should be prominent, probably darker.

[2020-07-11 05:15] #27 closed

[2020-07-12 05:39] LalitNM commented on #52
@kpbot claim

[2020-07-12 09:52] LalitNM commented on #52
Can we add timestamp to every message?

[2020-07-12 09:53] abhigyank commented on #52
Definitely that would be great!

[2020-07-13 06:46] LalitNM commented on #52
How about this?
![BaatCheet](https://user-images.githubusercontent.com/63332774/87278539-4ff0a980-c502-11ea-85cd-4bac1c7acf55.png)

[2020-07-13 06:49] abhigyank commented on #52
Looks much better than now !
Do you think  we should remove the name from the sent message? Because that's kinda obvious it will be me right?
Also the name in the received message (blue one) could be more  prominent, like darker probably 🤔

[2020-07-13 08:14] LalitNM commented on #52
now?
![baatcheet](https://user-images.githubusercontent.com/63332774/87279729-eaef8080-c50e-11ea-8820-7a920007b55d.png)

[2020-07-13 08:21] abhigyank commented on #52
Looks great !

[2020-07-15 16:11] #52 closed

[2020-07-15 17:19] LalitNM commented on #48
@abhigyank I was thinking that it would be better to add a sidebar for rooms in case of small screens. Any suggestion?

[2020-07-15 17:56] abhigyank commented on #48
Are thinking about a collapsible sidebar?

[2020-07-15 17:58] LalitNM commented on #48
Yeah

[2020-07-15 17:59] abhigyank commented on #48
That would be great I think! Go ahead.

[2020-07-15 18:04] LalitNM commented on #48
@kpbot claim

[2020-07-20 13:07] LalitNM commented on #48
I am still working on this.

[2020-08-25 10:02] Ezio-Sarthak commented on #48
@kpbot claim

[2020-08-25 10:03] Ezio-Sarthak commented on #48
@kpbot claim --force

[2020-09-05 20:30] pranshukharkwal opened #58 "io is not defined error in console while entering name in homepage"
Socketio script is not getting loading, probably the link doesn't work.
![baatcheet-bug](https://user-images.githubusercontent.com/21126219/92313056-8f101800-efe4-11ea-8f97-3c6361678348.png)

@Signior-X @parshvajain25

[2020-09-10 04:18] abhigyank commented on #58
Closed in #59.

[2020-09-10 04:18] #58 closed

[2020-09-17 05:17] abhigyank commented on #48
Closed via #54

[2020-09-17 05:17] #48 closed

[2020-09-17 05:18] abhigyank commented on #26
Closed via #55

[2020-09-17 05:18] #26 closed

[2020-09-17 05:19] abhigyank opened #60 "[Mobile view] close sidebar when tapped on non-sidebar area"

[2020-09-17 05:24] abhigyank opened #61 "Center align list of online users in mobile view"
Center align the list. Current view -

![Screenshot_20200917-105324](https://user-images.githubusercontent.com/20434085/93423626-08a4e180-f8d4-11ea-88d7-de95bb474b90.jpg)

If possible, also widen to see Participants word completely, or decrease it's font size.

[2020-10-02 10:59] LalitNM commented on #60
Fixed in #63.

[2020-10-02 13:15] #60 closed

[2020-10-02 13:18] abhigyank opened #64 "Message Input bar not visible in Rooms"
The input bar is not present in rooms other than the main lobby.
To repro - Create a new room. The message Input is absent.

[2020-10-02 18:26] LalitNM opened #65 "Remove image icons"
Remove image icons from [here](https://github.com/KamandPrompt/baat-cheet/tree/master/public/images/icons) and add font-awesome icons at respective places in code.

[2020-10-02 18:29] guptabhaskar commented on #65
Can you assign me this issue? @LalitNM

[2020-10-02 18:37] TanmayBhosale commented on #65
Can you please assign it to me.
thank you !

[2020-10-02 18:38] LalitNM commented on #65
@TanMayBhosale and @guptabhaskar Comment here `@kpbot claim` to claim this issue, and don't worry if you both can't work upon this. We have other issues also, check out those.

[2020-10-02 18:41] guptabhaskar commented on #65
@kpbot claim

[2020-10-02 18:55] LalitNM opened #66 "make entry page responsive using Bootstrap"
Make entry page responsive using [Bootstrap](https://getbootstrap.com/).
Steps to reproduce: resize the webpage.

[2020-10-02 18:58] TanmayBhosale commented on #65
@kpbot claim

[2020-10-02 19:00] peakercope commented on #61
@kpbot claim

[2020-10-02 19:02] kots14 commented on #66
I'd like to work on this.
Please let me know if there's any expected UI view after bootstrap usage for the home page.

[2020-10-02 19:27] peakercope commented on #61
#67

[2020-10-02 19:36] LalitNM commented on #66
@kots14 not anything specific. Make a PR and then we can discuss if that matches with theme of the app. And if you want to work upon this then don't forget to claim this issue by commenting `@kpbot claim`.

[2020-10-02 19:43] kots14 commented on #66
@kpbot claim
Comment in order to claim this issue. I'll prepare the PR.

[2020-10-02 20:19] guptabhaskar commented on #51
@kpbot claim

[2020-10-02 20:23] SubhamKarmakar24 commented on #24
@HitRam Can I take up this issue??

[2020-10-02 20:23] SubhamKarmakar24 commented on #64
Can I work on this issue?? @abhigyank

[2020-10-03 04:01] guptabhaskar commented on #51
Can you review the PR @LalitNM ?

[2020-10-03 11:18] LalitNM commented on #65
Fixed in #68.

[2020-10-03 11:18] #65 closed

[2020-10-03 13:27] LalitNM opened #74 "Make new room screen-overlay responsive"
At present the new room screen-overlay does not look good on small screens. We want style changes to this. You can use Bootstrap. A Pr containing bootstrap cdns is about to be merged(#70).

Steps to reproduce: try adding a new room from `+` icon on small screens.

[2020-10-03 14:46] kushal-khare-official commented on #74
I want to work on this. can u assign this issue to me?

[2020-10-03 14:49] LalitNM commented on #74
In order to self-assign this issue, you can comment `@kpbot claim` here.

[2020-10-03 15:05] kushal-khare-official commented on #74
@kpbot claim

[2020-10-03 15:07] kushal-khare-official commented on #74
Can I know what version of bootstrap should I use?

[2020-10-03 15:15] Everkers opened #75 "Sidebar menu vanish after switching screen size from mobile to desktop"
Menu vanishes after resizing the window
here is a loom record of the issue
<a href="https://www.loom.com/share/f5b6ccbebcb14e1f90e924d14a3cf8cb"> <p>Baat Cheet Sidebar bug</p> <img style="max-width:300px;" src="https://cdn.loom.com/sessions/thumbnails/f5b6ccbebcb14e1f90e924d14a3cf8cb-with-play.gif"> </a>

[2020-10-03 15:19] Everkers commented on #75
@kpbot claim

[2020-10-03 15:41] ishan-me commented on #74
Resolved issue adding responsive popup for the modal and layout structures refactored. Finished with a pull request
'e3af95d0841a43aa5f4aa1af03076d6a8844cace'  #76

[2020-10-03 16:20] Everkers commented on #75
Fixed in #91✅

[2020-10-03 16:41] LalitNM commented on #74
@ishan-me I appreciate your work on this project, but as we can see that this issue was assigned to @kushal-khare-official initially, you made a PR after this. As a maintainer of this repository I want to give one chance to @kushal-khare-official to work on this. After 24 hours of assignment of this issue to @kushal-khare-official, I will look at your PR(#76).

[2020-10-03 17:17] kushal-khare-official commented on #74
On the hacktoberfest website it says

Ineligible Repository
Your PR was submitted to a repository that is not participating in Hacktoberfest. Maintainers of the repository can add the "hacktoberfest" topic to their repository if they wish to participate.

what should I do? Plzz help.

[2020-10-03 17:22] abhigyank commented on #74
@kushal-khare-official Fixed, thanks for bringing it to our notice :)

[2020-10-04 01:36] laisfrigerio commented on #64
Hello, @abhigyank  I think I can contribuite  with that issue

[2020-10-04 01:39] LalitNM commented on #64
@laisfrigerio you can self-assign this issue by commenting here with `@kpbot claim`.

[2020-10-04 01:51] laisfrigerio commented on #64
@kpbot claim

[2020-10-04 12:03] kots14 commented on #66
@kpbot claim

[2020-10-04 16:02] #51 closed

[2020-10-05 04:05] LalitNM opened #89 "Unify all emojis"
At present, all emojis are of different color.

Tasks:

- Add all emojis of same color(preferably yellow).

- Add new emojis.

Source of emojis: [Twemoji](https://github.com/twitter/twemoji/tree/master/assets/72x72)

[2020-10-05 09:51] MonarthS commented on #24
@LalitNM I can add this feature.

[2020-10-05 10:06] LalitNM commented on #24
Go ahead @MonarthS, I have asigned you this issue.

[2020-10-05 10:09] MonarthS commented on #24
Do you want it like this:
[code]
![image](https://user-images.githubusercontent.com/40236229/95067044-db07c700-0720-11eb-821c-7396977846d1.png)

[2020-10-05 13:55] #75 closed

[2020-10-05 14:11] LalitNM opened #92 "Style leftbar with bootstrap"
At present, the leftbar is styled by custom classes, remove these custom classes and add Bootstrap classes there.

[2020-10-05 14:17] Aditya-ds-1806 commented on #92
I would like to do this. Can u assign it to me?

[2020-10-05 14:18] LalitNM commented on #92
@Aditya-ds-1806 go ahead.

[2020-10-05 16:49] Aditya-ds-1806 commented on #92
Hey I made a PR please review.

[2020-10-06 02:29] LalitNM commented on #66
Fixed in #87.

[2020-10-06 02:29] #66 closed

[2020-10-06 02:30] LalitNM commented on #64
Fixed in #88.

[2020-10-06 02:30] #64 closed

[2020-10-06 03:16] LalitNM opened #94 "style entry page"
At present, the entry page on mobile devices looks like
![Screen Shot 2020-10-06 at 03 11 13](https://user-images.githubusercontent.com/63332774/95154677-e63f0f00-0781-11eb-9d25-3a2ca312d6f3.png)

Align the title and area for nickname at the center of page i.e. align the jumbotron properly.

[2020-10-06 03:24] #24 closed

[2020-10-06 05:37] MonarthS commented on #94
@LalitNM I can fix this.

[2020-10-06 05:43] LalitNM commented on #94
Go ahead and read [contributing guidelines](https://github.com/KamandPrompt/baat-cheet/blob/master/CONTRIBUTING.md) to get an idea about how to self-assign this issue.

[2020-10-06 05:50] MonarthS commented on #94
@kpbot claim

[2020-10-06 12:55] ishan-me commented on #74
Ok I will continue work on this issue @LalitNM

[2020-10-06 15:11] laisfrigerio opened #97 "Improve code"
Can I make some improve? For example:

- [ ] Variavel destructuring

- [ ] Template string

- [ ] General refactor

[2020-10-06 18:06] LalitNM commented on #97
Yeah sure Go ahead.

[2020-10-07 04:42] #94 closed

[2020-10-07 07:05] #92 closed

[2020-10-07 07:21] LalitNM opened #98 "change color"
At present there is a blue color at so many places in app, you are supposed to remove to remove this color and add bootstrap's `primary` class.

[2020-10-07 09:30] abhishekpatel946 commented on #98
ok, let me assign I'll work on & fix the issue.

[2020-10-07 10:12] sakshi-choudhary commented on #98
could you assign it to me? I would like to work on this.

[2020-10-07 10:13] sakshi-choudhary commented on #89
I would like to work not this. Could you please assign it to me?

[2020-10-07 13:08] MonarthS opened #99 "Send emojis is not working Lobby"
In other created room it's working, In lobby it's not working.

[2020-10-07 13:27] #99 closed

[2020-10-07 13:28] LalitNM commented on #98
@abhishekpatel946 you up for this?

[2020-10-07 14:27] ishan-me commented on #74
@LalitNM We can close this down opened a new PR **#101**

[2020-10-07 14:35] LalitNM opened #103 "style leftbar with bootstrap"
style leftbar with bootstrap
tasks:

- style the search form with bootstrap's `form-control` class

- style the cards containing room name and description with bootstrap's `card` class under `card-columns` class of bootstrap.

- move the `add-room`(plus) button as a card under room list, so that user can click on a card to create new room.

Final look can be something like
![baat-cheet](https://us

[2020-10-07 14:51] Arsh654 commented on #98
Interested to work on that...could you please assign me to work for this.

[2020-10-07 14:53] KJCastillo commented on #103
I'd like to to help on this.

[2020-10-07 14:56] LalitNM commented on #103
Go ahead @KJCastillo.

[2020-10-07 14:57] LalitNM commented on #98
@Arsh654, @abhishekpatel946 read the [contribution guidelines](https://github.com/KamandPrompt/baat-cheet/blob/master/CONTRIBUTING.md).

[2020-10-07 16:13] KJCastillo commented on #103
apologies, can not continue anymore.

[2020-10-07 16:22] dvshsahu commented on #103
Hi, @LalitNM Can I have a look here.?

[2020-10-07 16:25] LalitNM commented on #103
No problem @KJCastillo.
Go ahead @dvshsahu.
And you can self-assign this issue by commenting here `@kpbot claim`.

[2020-10-07 16:28] dvshsahu commented on #103
@kpbot claim

[2020-10-07 16:43] #61 closed

[2020-10-08 03:57] yatharthMogra commented on #98
@kpbot claim

[2020-10-08 04:03] sakshi-choudhary commented on #89
could you check my pull request

[2020-10-08 04:04] sakshi-choudhary commented on #89
and please specify which emojis are talking about to make yellow

[2020-10-08 04:10] LalitNM opened #106 "Move present-room-info"
At present, the room info is at the top of chat window.
Tasks:

- Move this division at the right of screen, just like left-bar make a right-bar which collapses on small screens.

- Add the current user info permanently in this division.

- In rooms other than lobby also shift the `leave room` button in right-bar.

- Use bootstrap to style this right bar

[2020-10-08 04:26] LalitNM commented on #89
@sakshi-choudhary let me give you some examples

- You are supposed to replace [this](https://github.com/twitter/twemoji/blob/master/assets/72x72/1f44b-1f3fb.png) file with [this](https://github.com/twitter/twemoji/blob/master/assets/72x72/1f44b.png) file.

- replace [this](https://github.com/twitter/twemoji/blob/master/assets/72x72/1f44a-1f3fb.png) with [this](https://github.com/twitter/twemoji/b

[2020-10-08 04:32] sakshi-choudhary commented on #89
okay got it

[2020-10-08 08:44] dvshsahu commented on #103
@LalitNM  I have started working on the change, would like to have a quick check of the progress,
Please check the screenshot of the same & let me know if it looks good.

<img width="1420" alt="Screenshot 2020-10-08 at 2 10 57 PM" src="https://user-images.githubusercontent.com/13731872/95435732-91adb680-0970-11eb-86ee-73473067c1a7.png">

[2020-10-08 08:56] LalitNM commented on #103
It is looking great @dvshsahu! I just want to point out some features which can be implemented before you make a PR

- the top search bar can be styled with bootstrap.

- the shadow of card can be removed, maybe you can add a shadow on hover.

Everything else looks great.

[2020-10-08 09:59] dvshsahu commented on #103
I have made modifications based on the suggestions, please have a look @LalitNM

The search bar is styled with bootstrap now and I have retained the rounded edges which was there previously, let me know if that's okay..!!

<img width="1420" alt="Screenshot 2020-10-08 at 3 23 23 PM" src="https://user-images.githubusercontent.com/13731872/95443576-5c0dcb00-097a-11eb-9aae-4d9600027833.png">

[2020-10-08 10:10] LalitNM commented on #103
@dvshsahu it is looking good now. I want to see your code, whether it makes some additional bug or not. It will be easier if you make a PR.

[2020-10-08 13:54] LalitNM opened #108 "Emoji not showing in notification"
If you are in room A and room B and you are reading messages of room A. If someone sends a text message in room B then you get a notification, but if someone sends an emoji in room B then you get a notification like `someone@roomB \n <img id = 'emoji'>`. it should say name of that emoji like `someone@roomB \n :emoji:`

[2020-10-08 15:09] dvshsahu commented on #108
hey, Can I check this one @LalitNM

[2020-10-08 15:57] LalitNM commented on #108
You can self-assign this by commenting `@kpbot claim`, if you feel that you can fix this.

[2020-10-08 16:46] dvshsahu commented on #108
@kpbot claim

[2020-10-08 17:06] LalitNM commented on #98
Fixed in #107.

[2020-10-08 17:06] #98 closed

[2020-10-08 17:21] alexandramj92 commented on #108
I am interested in this issue!

[2020-10-08 17:34] rahulSinha-01 commented on #106
hi @LalitNM I want to contribute in this project.
as I am a newbie to open source contribution so I need some help for this contribution
Moreover, i am quite familiar to the stack which you are using in this project.
So i need some time to analyse the code and update it.
can I contribute in your project?

[2020-10-08 17:52] LalitNM commented on #106
@rahulSinha-01 I appreciate your love and dedication to open source but if you wanna contribute to this project I think this is not right issue you should pick, as I haven't labelled it with `good first issue`, I suggest you to go for either #97( there you can analyze the code and finally improve it) or #108( which is a `good first issue`, if you think that you have good coding skills and can mana

[2020-10-08 18:01] rahulSinha-01 commented on #106
Can i try? Is it OK with you?

[2020-10-08 18:07] LalitNM commented on #106
Yeah sure you can try it, and if you need any help in understanding the code and/or in general open source stuff then just post a comment here.

[2020-10-08 18:08] rahulSinha-01 commented on #106
Thanks @LalitNM !
I need some time!
and thank you so much!

[2020-10-08 18:08] rahulSinha-01 commented on #106
@kpbot claim

[2020-10-08 18:09] rahulSinha-01 commented on #106
@kpbot claim --force

[2020-10-08 19:19] rahulSinha-01 commented on #106
so for the current user info would be just their name, right?

[2020-10-08 19:25] LalitNM commented on #106
Yeah, and one thing which is bothering me is that the icon of users, it doesn't work on mobile screens. Maybe you can just remove it and add something interesting there.

[2020-10-08 19:27] rahulSinha-01 commented on #106
which icon? there is no icon displaying on user info

[2020-10-08 19:30] LalitNM commented on #106
![Screenshot_2020-10-09-00-58-55-652](https://user-images.githubusercontent.com/63332774/95504626-aa4aba80-09ca-11eb-9ddd-cbd267a9b6f5.jpeg)
The crossed box(it is on mobile)

[2020-10-08 19:37] rahulSinha-01 commented on #106
sorry but its not showing in my device, but will try to fix it

[2020-10-09 06:25] rahulSinha-01 commented on #106
can I use 'flex' system in this project? Because it seems to have no use of 'flex' in this project

[2020-10-09 14:42] rahulSinha-01 commented on #106
In the room info which is shifted to the right side, do we need to include the user info button?
or just simply display their names?

[2020-10-09 14:47] LalitNM commented on #106
@rahulSinha-01 No need to include that button, because on small screens one can tap the toggle-button and on large screens it will be permanently present on the right.

[2020-10-09 14:51] rahulSinha-01 commented on #106
and one more thing, do I have to reduce the width of the input bar for writing messages?

[2020-10-09 14:56] LalitNM commented on #106
@rahulSinha-01 Yeah, you have to think something similar like leftbar.

[2020-10-09 15:38] rahulSinha-01 commented on #106
![Screenshot from 2020-10-09 21-06-25](https://user-images.githubusercontent.com/72486800/95603070-69f34700-0a73-11eb-895a-b33894458f86.png)
Is it ok with the model?

[2020-10-09 15:47] rahulSinha-01 commented on #106
is it mandatory to style it with bootstrap?
Can I use only css for styling?

[2020-10-09 15:52] LalitNM commented on #106
You can use css but not only css. Try to reduce css as much as possible.

[2020-10-09 15:58] rahulSinha-01 commented on #106
![Screenshot from 2020-10-09 21-27-12](https://user-images.githubusercontent.com/72486800/95605224-41208100-0a76-11eb-8e71-bbf9e5347a73.png)
Do i also need to shift this error bar to the right side?

[2020-10-09 16:01] LalitNM commented on #106
No, do not do this. It looks fine here.

[2020-10-09 16:40] yatharthMogra commented on #98
@kpbot abort

[2020-10-09 16:41] yatharthMogra commented on #108
@LalitNM  intrested in this issue. Can i go ahead

[2020-10-09 16:45] yatharthMogra commented on #108
@kpbot claim

[2020-10-09 19:38] LalitNM opened #111 "style message bubble with Bootstrap"
At present, the message area has a lot of custom styling. We need to style it with bootstrap. Perhaps a `container` can be useful here. You can take inspiration from following image.
![Screen Shot 2020-10-09 at 19 37 07](https://user-images.githubusercontent.com/63332774/95624777-ee8b9880-0a66-11eb-9b37-ee283fde1c13.png)

[2020-10-09 19:44] LalitNM opened #112 "style the message input area with Bootstrap"
At present, the message input area has a lot of custom styling. We need to style it with bootstrap. You can take inspiration from following image.
![image](https://user-images.githubusercontent.com/63332774/95625173-9dc86f80-0a67-11eb-947c-425541df3a42.png)

And unlike this image there will be two buttons in one form(one for emoji and other for send button).

[2020-10-10 00:47] ngrosso commented on #111
the text area class is used both for logic and style, changes here would impact in the rest of the project, for example in the emoji function:
![image](https://user-images.githubusercontent.com/11824720/95641520-4206e200-0a79-11eb-9f56-b04a41efb679.png)
for beware of that, and if you wan't i'll take the issue

[2020-10-10 02:51] LalitNM commented on #111
@ngrosso yeah, if you change only in one file then it can create problem, you have to look into every file to correct this. You can also remove textarea class for styling and do required changes in JS. But this issue is to style the message bubble(not the `<input>` tag). To style the input tag I have created #112.

Anyway if you want to self-assign this issue then you can comment `@kpbot claim` he

[2020-10-10 03:08] ngrosso commented on #111
@kpbot claim

[2020-10-10 06:45] MonarthS commented on #89
Is this still active? or I can fix this.

[2020-10-10 08:52] #108 closed

[2020-10-10 09:41] yatharthMogra commented on #112
@LalitNM can i work on it

[2020-10-10 10:06] yatharthMogra commented on #112
@kpbot claim

[2020-10-10 15:48] rahulSinha-01 commented on #106
Actually now I realise that I need to change the structure of the contents a little bit inside the element having class name 'right'.
I was thinking to shift the part of room info bar outside the 'right' class like the left bar. For this I need to change the client.js file.
Shall I do it?

[2020-10-10 16:27] #103 closed

[2020-10-10 16:39] LalitNM commented on #106
Go ahead @rahulSinha-01 you can change any file in this repository. I think you have to change present `right` class to `middle`.

[2020-10-10 16:44] Rahul-sinha84 commented on #106
Yes that's only I was thinking

[2020-10-10 21:50] ChristineJ82 commented on #111
Hello. Are you just looking for the message bubble in the chat to be styled? I can work on it. @kpbot claim

[2020-10-11 03:52] ishan-me opened #116 "Display no rooms when search don't find any room"
Display no rooms when search don't find any room with the name entered.

[2020-10-11 03:52] isNan909 commented on #116
Can I also work on this?

[2020-10-11 04:10] LalitNM commented on #116
Umm.. No, doesn't looks like an enhancement, because anyaway there will be add-room card when no room is found.

[2020-10-11 04:10] #116 closed

[2020-10-11 04:28] LalitNM opened #117 "Refactor"
At present there is some unnecessary code in each file. You are supposed to remove that unnecessary code.

Tasks:

- Remove unnecessary code(of JS as well as CSS).

- Wherever possible replace code like

`anotherElement.innerHTML = '<element id="someID" class="someClass">Some text</element>';`

with code like

[code]
Most important thing is to create separate commit for each file.

[2020-10-11 04:29] LalitNM commented on #97
Made duplicate at #117.

[2020-10-11 04:29] #97 closed

[2020-10-11 04:31] bineetNaidu commented on #117
I would like to Contribute onto this project .. Feel free to assign me this task.

[2020-10-11 04:37] LalitNM commented on #117
@bineetNaidu please go through our [contributing guidelines](https://github.com/KamandPrompt/baat-cheet/blob/master/CONTRIBUTING.md) and [code of conduct](https://github.com/KamandPrompt/baat-cheet/blob/master/CODE_OF_CONDUCT.md).

[2020-10-11 04:38] LalitNM commented on #74
Closing this and opening another isssue for this.

[2020-10-11 04:38] #74 closed

[2020-10-11 04:40] LalitNM opened #118 "Add bootstrap modal for adding new room"
At present the new room screen-overlay does not look good on small screens, even on large screens this doesn't looks good. We want style changes to this. You are supposed to use Bootstrap.

Steps to reproduce: try adding a new room using `add new room` card.

[2020-10-11 04:41] bineetNaidu commented on #117
Yes i have gone through. And i am really excited to look forward and workon this project

[2020-10-11 04:42] LalitNM commented on #117
@bineetNaidu  Then comment `@kpbot claim` here.

[2020-10-11 04:43] bineetNaidu commented on #117
@kpbot

[2020-10-11 04:46] LalitNM commented on #117
Go ahead @bineetNaidu, I assigned this to you.

[2020-10-11 16:41] namrataaaa commented on #118
Hi @LalitNM, I would like to work on this issue.

[2020-10-11 17:01] LalitNM commented on #118
@namrataaaa If you want to contribute then please go through our contributing guidelines(you may find a link at the bottom of  this page). And if you want to self-assign this issue then comment here with `@kpbot claim`.

[2020-10-11 19:02] LalitNM opened #121 "Use bootstrap toast for notification"
At present there is a [notify.min.js](https://github.com/KamandPrompt/baat-cheet/blob/master/public/notify.min.js), you are supposed to remove this file and add this functionality using Bootstrap [toast](https://getbootstrap.com/docs/4.2/components/toasts/).

[2020-10-11 20:01] rahulSinha-01 commented on #106
It requires so much of replacing of codes, and the program is becoming more complex. So I want to take my proposal back for fixing this issue! Sorry @LalitNM for taking your so much of time!

[2020-10-11 22:30] sesamechicken commented on #121
I'll grab it if it's still up

[2020-10-12 01:16] LalitNM commented on #121
Sure @sesamechicken, in order to self-assign this issue you may comment here with `@kpbot claim`.

[2020-10-12 01:17] sesamechicken commented on #121
@kpbot claim

[2020-10-12 02:06] LalitNM commented on #111
Fixed in #115.

[2020-10-12 02:06] #111 closed

[2020-10-12 02:47] LalitNM opened #123 "Show notification that 'All mesaages will be deleted with closing this tab.'"
At present there is no log out button, a user has to close tab when he/she wants to leave the app. Add a log out button.

[2020-10-12 02:49] LalitNM commented on #106
No problem @rahulSinha-01. Hope you have learnt something from this(always listen to maintainer :stuck_out_tongue: ).

[2020-10-12 03:10] Gautam-Arora24 commented on #123
May I work on this issue?

[2020-10-12 03:12] LalitNM commented on #123
@Gautam-Arora24  In order to self-assign this issue comment here with `@kpbot claim`, and read our contribiting guidelines(link is towards the bottom of this page).

[2020-10-12 03:15] Gautam-Arora24 commented on #123
@kpbot claim . Kindly can you describe me about the functionality I have to add in the logout button.

[2020-10-12 03:21] LalitNM commented on #123
You can see the JS behind the `Leave Room`(when you are in some other room than lobby)button. We want something similar for lobby room.

[2020-10-12 03:30] Gautam-Arora24 commented on #123
Okay, that means on Leave lobby room button the use should be redirected to starting page?

[2020-10-12 03:34] LalitNM commented on #123
Yeah, and also remove that person from users list of lobby room and also make available this button in every room so that from any room user can log out.

[2020-10-12 03:58] rahulSinha-01 commented on #106
very true!!😅😅

[2020-10-12 05:14] LalitNM commented on #89
@MonarthS you can look into this, but I don't encourage multiple pull requests on same issue.

[2020-10-12 05:32] MonarthS commented on #89
I commented as there is no response from @sakshi-choudhary.

[2020-10-12 05:49] LalitNM commented on #118
@MonarthS do you want to try this?

[2020-10-12 05:51] namrataaaa commented on #118
Sure, okay. I will go through the guidelines and if I am able to solve this issue properly, I will self-assign and make a PR.

[2020-10-12 05:55] LalitNM commented on #106
@MonarthS this is also very interesting(you will be able to extend your horizon)issue, you might want to work upon this.

[2020-10-12 06:04] MonarthS commented on #118
@LalitNM I think @namrataaaa is working on this. Let's see. 😄

[2020-10-12 06:07] MonarthS commented on #106
Okay, I'll check it.

[2020-10-12 06:39] namrataaaa commented on #118
I have a few doubts. Please bear with me since I am new to open source. So, for solving this issue, am I supposed to create a new branch? And if so, what should I name my branch?

[2020-10-12 06:39] namrataaaa commented on #118
@kpbot claim

[2020-10-12 07:21] LalitNM commented on #118
@namrataaaa you might want to see our contribiting guidelines(link towards the bottom of this page). And for the new branch, you are supposed to create new branch using `git checkout -b branch-name`, you can name whatever you want to name this because once your pull request is merged, this branch will be useless for us.

And I encourage you to actively contribute to open source. Come on! We all we

[2020-10-12 08:23] namrataaaa commented on #118
![Screenshot (318)](https://user-images.githubusercontent.com/47076867/95722878-21fe3b00-0c92-11eb-8d8e-b1b6de8a304e.png)

I have made the changes but have not committed yet. Here I have attached the screenshot of the new bootstrap modal that I added for creating a new room. Please have a look and let me know if it is okay.

[2020-10-12 08:25] namrataaaa commented on #118
Thank you for your support! Yes, I did go through the contributing guidelines. And I will be creating a pull request with the issue solved shortly.

[2020-10-12 08:34] LalitNM commented on #118
Looks much better now, but try to minimize css as much as possible, for example the submit button can be styled as bootstrap `btn`, and the forms can be styled with `form-control`. This is all what I can suggest by looking at screenshot, anyway create a pull request after committing changes, then I will review it and will let you know if it can be improved.

[2020-10-12 09:07] namrataaaa commented on #118
Okay, sure!

[2020-10-12 18:06] wbrijesh commented on #121
@kpbot claim

[2020-10-13 12:52] LalitNM opened #127 "Fix number of characters in room name and description"
At present while adding a new room user can put any number of characters in the input fiels. Your task is to limit number of characters in room name and description to 10 and 20 respectively.

[2020-10-13 12:56] LalitNM commented on #118
Fixed in #125.

[2020-10-13 12:56] #118 closed

[2020-10-13 13:09] Ezio-Sarthak commented on #89
@kpbot claim

[2020-10-13 13:56] jketterer commented on #127
@kpbot claim

[2020-10-13 16:36] abhigyank commented on #123
@LalitNM Is there a need for a logout button? There is no concept of "Login" in the project (being anonymous), I suppose logout is unnecessary and would be a confusing if not conflicting UX.

Closing the tab is fine, I don't suppose a button is required for it. If at all you want a button, you may add something like Exit or Quit button. I

[2020-10-13 16:59] LalitNM commented on #127
Fixed in #128.

[2020-10-13 16:59] #127 closed

[2020-10-13 17:11] LalitNM commented on #123
Yeah, I was actually thinking about an `Leave Chat` button. Only we know that closing the tab will erase all data, someone else might not know this.

[2020-10-13 17:17] abhigyank commented on #123
May not know once, but will know thereafter. But since there is no concept of "identity" or login, I suppose not preserving any chat is kind of obvious right?

If you want a button to make that obvious, you could have "Leave and Delete Chat" button. But I think it's redundant.

[2020-10-13 17:22] LalitNM commented on #123
Yeah, I am convinced now, I think a notification would be enough to tell the first time users that `all messages will be deleted once you close this tab`

[2020-10-13 17:24] abhigyank commented on #123
That sounds good 💯

[2020-10-13 18:43] Gautam-Arora24 commented on #123
Should I try this by giving an alert?

[2020-10-13 18:45] LalitNM commented on #123
Umm.. not an alert, you can use bootstrap toast.

[2020-10-13 18:57] Gautam-Arora24 commented on #123
Okay

[2020-10-13 20:40] ChristineJ82 commented on #112
Hello @LalitNM if this is not being worked on I would like to take a shot at this.

[2020-10-13 20:40] ChristineJ82 commented on #112
@kpbot claim

[2020-10-14 07:42] LalitNM opened #131 "Add swipe action"
On small screens, there is only one way to collapse or expend the leftbar, which is to click on the button. Add swipe actions that after swiping right, the leftbar will expend, and after swiping left this will collapse.

[2020-10-14 08:21] ayush015 commented on #131
I would like to try this issue! Can you assign me ??

[2020-10-14 08:24] LalitNM commented on #131
@ayush015 Go ahead and try this, if you think you can do this then you can self-assign this issue by commenting here with `@kpbot claim`, and please read our contribution guidelines, there is a lot more to know.

[2020-10-14 08:28] ayush015 commented on #131
@kpbot claim

[2020-10-14 14:52] LalitNM opened #133 "Can't embed images"
At present, we can't embed images here. You are supposed to add this functionality here.
Hint: try `base64` encoded images.

In order to self-assign this issue comment here with `@kpbot claim`.

[2020-10-14 15:09] LalitNM commented on #121
Fixed in #130.

[2020-10-14 15:09] #121 closed

[2020-10-14 16:50] sesamechicken opened #134 "Bug - Hitting Enter/Return on new room modal resets UI"
Hitting Enter/Return on new room modal when in the name field resets UI back to the initial view.

[2020-10-14 17:02] sesamechicken commented on #134
@kpbot claim

[2020-10-14 17:05] LalitNM commented on #131
@ayush015 you added `@kpbot claim` also in quotes, let me assign this to you.

[2020-10-14 20:03] ayush015 commented on #131
@LalitNM thanks :)

[2020-10-15 06:07] bineetNaidu commented on #117
@kpbot abandon

[2020-10-15 11:04] LalitNM commented on #134
Fixed in #135

[2020-10-15 11:04] #134 closed

[2020-10-15 11:10] LalitNM commented on #117
Some changes have been done by @bineetNaidu, Now this issue is open for further changes.

[2020-10-15 11:15] LalitNM opened #136 "Make right-bar"
At present, the room info is at the top of chat window.
Tasks:

- Move this division at the right of screen, just like left-bar make a right-bar which collapses on small screens.

- Add the current user info permanently in this division.

- In rooms other than lobby also shift the `leave room` button in right-bar.

- Use bootstrap to style this right bar

In order to self-assign this issue, commen

[2020-10-15 11:15] LalitNM commented on #106
Made duplicate at #136.

[2020-10-15 11:15] #106 closed

[2020-10-16 15:44] DEEPA-CHERI commented on #136
@kpbot claim

[2020-10-16 15:46] DEEPA-CHERI commented on #117
@kpbot claim

[2020-10-17 15:50] #89 closed

[2020-10-17 15:59] LalitNM opened #138 "Arrange all emojis"
Arrange all emojis according to list given [here](https://unicode.org/emoji/charts-13.0/emoji-ordering.html). Also add the title of divisions in between emoji list.

[2020-10-17 17:33] arifsetyo21 commented on #136
@kpbot claim --force

[2020-10-17 19:28] IVRANUBHV commented on #138
@kpbot claim

[2020-10-17 20:07] ayush015 commented on #131
Hey @LalitNM I have added the swipe feature onto the side bar and made a PR #131 .Please review .Thanks

[2020-10-17 21:07] ChristineJ82 commented on #112
@kpbot abandon

[2020-10-18 04:04] MonarthS commented on #138
We can use emoji library instead of these images.

[2020-10-18 04:07] LalitNM commented on #138
Yeah, we can, Twemoji provides its library. But from the beginning we are using images as emojis, if we can use library, it would be great. Do you want to add library @MonarthS.

[2020-10-18 04:12] MonarthS commented on #138
We can use Twemoji, but it will take time. We can use [this](https://github.com/joeattardi/emoji-button) instead.

[2020-10-18 05:12] Gautam-Arora24 commented on #123
Actually I may not able to work on this issue for some reasons. Kindly assign it to someone else @kpbtot abandon

[2020-10-18 08:52] LalitNM commented on #112
Fixed in 818102f4d860668aaedba5ba2b11a7f0e92496e8

[2020-10-18 08:52] #112 closed

[2020-10-18 12:26] DEEPA-CHERI commented on #117
Hi, it seems permission to push is denied for me.

[2020-10-18 12:27] LalitNM commented on #117
Yeah, in order to contribute you are supposed to make a pull request.

[2020-10-18 17:48] LalitNM opened #140 "Add some tests for the app"
Add some tests for the app. You may use [mocha](https://mochajs.org/).

Read our [contributing guidelines](https://github.com/KamandPrompt/baat-cheet/blob/master/CONTRIBUTING.md).

For discussion chat [here](https://gitter.im/Baat-Cheet-IIT/Unit-tests).

[2020-10-18 17:51] LalitNM opened #141 "Style wrapper and app-container with Bootstrap"
Style the division with `wrapper` class and the division with `app-container` class using Bootstrap.

[2020-10-18 17:57] LalitNM opened #142 "Clean imports"
Clean the files [head_imports](https://github.com/KamandPrompt/baat-cheet/blob/master/views/head_imports.ejs) and [footer_imports](https://github.com/KamandPrompt/baat-cheet/blob/master/views/footer_imports.ejs).

Currently there are so many cdns, remove unnecessary ones and arrange all CSS cdns in head_imports and all JS cdns in footer_imports.

If you want to discuss something, then chat [here](

[2020-10-18 18:16] Jeconias commented on #140
you can assign it to me?

[2020-10-18 18:17] LalitNM opened #143 "Shift emoji ids and names to a json file"
At present there are two list of emoji ids and their CLDR code names. Your job is to make a json file and shift all these ids ans names in that file. Also make API to read from that file.

For discussion chat [here](https://gitter.im/Baat-Cheet-IIT/issues).

[2020-10-18 18:25] Jeconias commented on #142
You can assign it to me?

[2020-10-18 18:27] LalitNM opened #144 "Make a welcome bot for the app"
Make a bot. The bot should throw a welcome message whenever a user enters the app.
For discussion join [this](https://gitter.im/Baat-Cheet-IIT/bots) room.

[2020-10-18 18:31] LalitNM commented on #142
Done @Jeconias. Come back with a pull request within 2 days.

[2020-10-18 18:52] Jeconias commented on #142
@LalitNM, Done.

[2020-10-18 19:06] Jeconias commented on #140
You can assign it to me?

[2020-10-19 01:58] #142 closed

[2020-10-19 03:06] Jeconias commented on #140
@LalitNM, I defined the version mocha in 6.2.3 to enable the use with node 6.9.4.

[2020-10-19 07:46] LalitNM commented on #138
I don't think using that button will be easy in this project. We have to make unnecessary changes in code.

[2020-10-19 08:41] Ezio-Sarthak commented on #143
Could I work on this issue ? It seems new and interesting to learn !

[2020-10-19 08:43] LalitNM commented on #143
Sure @Ezio-Sarthak go ahead.

[2020-10-19 08:44] Ezio-Sarthak commented on #143
@kpbot claim

[2020-10-19 15:30] sesamechicken commented on #144
@kpbot claim

[2020-10-20 04:02] DEEPA-CHERI commented on #117
Hi, In order to raise pull request need to push the code into the branch right?

[2020-10-20 04:34] LalitNM commented on #117
Yeah and read our [contributing guidelines](https://github.com/KamandPrompt/baat-cheet/blob/master/CONTRIBUTING.md).

[2020-10-20 16:42] sesamechicken opened #150 "Date format in messages"
Format our timestamp just like the gitter does. No date is displayed if the message was received today, and for all past days it displays month, date and time.

AC:
- Timestamp should be placed on the same line as the username.
- No date is displayed if the message was received today, and for all past days it displays month, date and time.

[2020-10-20 23:16] igu commented on #141
you can assign this issue to me?

[2020-10-21 01:37] LalitNM commented on #141
Go ahead @igu.

[2020-10-21 08:25] LalitNM commented on #143
Fixed in #147

[2020-10-21 08:25] #143 closed

[2020-10-23 14:27] igu commented on #141
@LalitNM can you talk more about this problem?

[2020-10-23 15:07] LalitNM commented on #141
@igu, at present there is so much css styling for just `.app-container`. But, this can be easily styled using Bootstrap's `.container`. You are supposed  to achieve this.

And `.wrapper` is used with `.fadeIn()` and `.fadeOut()`, it will be appreciated if you can give it a more meaningful class(or an id), or even completely remove this and make just one element with class `container` and some id.

[2020-10-23 18:14] sesamechicken commented on #144
Little bot, you're wrong, I'm afraid. This is open and ready for merge. 😂

[2020-10-24 11:56] pancreaflame commented on #150
Let me take this issue!

[2020-10-24 12:58] pancreaflame commented on #150
@kpbot claim

[2020-10-24 14:44] sesamechicken commented on #150
You'll want to wait for #148 to be merged so you have `date-fns` available to you.

[2020-10-24 14:59] pancreaflame commented on #150
I see.... The pull request is marked size: XL. really a big one 😬 . It migrates to use template string.

`date-fns` 's function looks great! And I hope my thinking on the timing to update timestamp is still valid.

[2020-10-24 19:00] LalitNM commented on #150
I merged #148. You can start working @pancreaflame.

[2020-10-25 02:17] pancreaflame commented on #150
Okay. I work on it.

[2020-10-26 14:29] sesamechicken commented on #144
https://github.com/KamandPrompt/baat-cheet/pull/148 Closes this issue.

[2020-10-26 14:45] sesamechicken commented on #123
@kpbot claim

[2020-10-27 03:23] LalitNM commented on #141
Any update @igu?

[2020-10-27 11:28] LalitNM opened #155 "Add Linter"
At present, there is no linter in project, add one. You might want to use [ESLint](https://eslint.org/).

[2020-10-27 11:35] rohitgeddam commented on #155
I want to do this!

[2020-10-27 11:39] LalitNM commented on #155
Go ahead @rohitgeddam :+1:

[2020-10-27 19:17] LalitNM opened #159 "Refactor"
Refactor the code.
Refactor code with [these](https://github.com/goldbergyoni/nodebestpractices) practices. For discussion drop a message in [this](https://gitter.im/Baat-Cheet-IIT/refactor) chat room.
Tip: You can pick any one point from the list given in this link and start implementing that.

In order to self-assign this issue comment here with `@kpbot claim`, and read [contributing guidelines]

[2020-10-27 19:17] LalitNM commented on #117
Duplicate at #159.

[2020-10-27 19:17] #117 closed

[2020-10-27 19:21] #144 closed

[2020-10-27 19:24] LalitNM commented on #140
Some tests have been implemented in #146. Add more tests for the app. For discussion chat [here](https://gitter.im/Baat-Cheet-IIT/Unit-tests).

[2020-10-28 03:48] vaibhav1865 commented on #136
I would like to work on this

[2020-10-28 04:03] LalitNM commented on #136
Sure @vaibhav1865, in this case I am assigning this issue to you and me(already assigned). For discussion you can drop a message in on [gitter](https://gitter.im/Baat-Cheet-IIT/right-bar).

[2020-10-28 04:36] igu commented on #141
Sorry, i don't can help now, issues college are take my all time

[2020-10-28 04:47] #123 closed

[2020-10-28 06:08] abhigyank opened #161 "Bug: Message send in rooms not working"
Sending a message via clicking on butting or pressing Enter is not working.

[2020-10-28 13:26] LalitNM commented on #161
Fixed in 550d4daccd99e6476726b202621e5e04b414c3cf.

[2020-10-28 13:26] #161 closed

[2020-10-28 18:08] LalitNM commented on #131
Fixed in #139

[2020-10-28 18:08] #131 closed

[2020-10-29 02:48] LalitNM commented on #150
This has been fixed in #152.

[2020-10-29 02:48] #150 closed

[2020-10-29 17:29] vaibhav1865 commented on #136
Sorry, I am caught up in Academics, need to unassign!

[2020-10-31 06:30] abhigyank opened #162 "Room ID shouldn't have spaces"
In the current implementation we give the room name as the id of the room element. But incase the room name has spaces the room id is then set with spaces, which wrong. So when there are space in the room name, the room id should be set with the spaces being replaced with `-` . If the room name is `Hello World`, id should be `Hello-World` .

This is a critical change as room id is being used a lot

[2020-10-31 08:29] gary1998 commented on #162
Hi, I would like to help. Please share more that you have.

[2020-11-03 15:16] sesamechicken commented on #162
@abhigyank You could replace the ` ` with a `-` client-side so that room names are human-readable and don't require validation on room creation. My 2 cents

[2020-11-03 15:21] abhigyank commented on #162
@sesamechicken I think that's something the backend should handle ideally. Because if a user creates a room with  ` ` and we show them it replaced with `-`, it's not good UX.

[2020-11-03 15:23] sesamechicken commented on #162
I think I didn't communicate it correctly:

The user should be able to create a room with spaces. You can, in the front end code, set the ID's as the room name with the spaces replaced with dashes so you have qualified selectors. Does that make sense?

[2020-11-03 15:37] abhigyank commented on #162
Yes you're right @sesamechicken . That's exactly what needs to be done in this issue.

[2020-11-03 16:59] #141 closed

[2020-11-03 17:37] LalitNM commented on #136
@kpbot I am still working on this.

[2020-11-06 06:19] #155 closed

[2020-11-06 06:21] LalitNM opened #163 "Apply linting changes to all files"
Run `npm run lint`, and then fix all problems.

[2020-11-12 06:58] shivanshu3 opened #164 "Direct messages"
I guess direct messages could be implemented as "rooms" which are only visible to the 2 people who are DMing?

[2020-11-12 11:15] LalitNM opened #165 "Scroll to bottom button"
When someone is reading old messages of specific room, exactly at that time a new message arrives. At present the conversation will be scrolled to the bottom and the user will lost the conversation.

Auto-scroll should be disabled and a scroll-to-bottom button should be added.

[2020-11-14 17:12] LalitNM opened #166 "make right-bar"
At present, the room info is at the top of chat window.
Tasks:

- Move this division at the right of screen, just like left-bar make a right-bar which collapses on small screens.

- Add the current user info permanently in this division.

- In rooms other than lobby also shift the `leave room` button to the right-bar.

- Use bootstrap to style this right bar

Also see #106.

[2020-11-14 17:13] LalitNM commented on #136
This issue has a duplicate.

[2020-11-14 17:13] #136 closed

[2020-11-14 17:33] LalitNM commented on #164
Idea of direct messages looks good.
One can start by implementing a function to display a division corresponding to user on clicking on the user's name in user-list (presently in the right-info division).

[2020-12-05 04:51] Ezio-Sarthak commented on #159
@kpbot claim

[2022-02-22 16:19] LalitNM opened #170 "Add an About Section"
**Is your feature request related to a problem? Please describe.**
At present, nobody gets to know who made the application and who is responsible for maintenance.

**Describe the solution you'd like**
Adding a section on main landing page that says that the application has been developed and maintained by IIT Mandi or KamandPrompt.

[2022-02-22 17:22] GAURAV1-ui commented on #170
I would love to contribute.

[2022-02-22 17:27] LalitNM commented on #170
Glad to know this. You can go ahead. See you with a Pull Request. You can self assign this issue by commenting `@kpbot claim` here.

[2022-02-22 17:38] GAURAV1-ui commented on #170
@kpbot claim

[2022-02-23 03:22] LalitNM commented on #170
Looks like @kpbot isn't working. I'll look into it. For now, let me assign this issue to you so that you can start working on it.

[2022-10-02 18:36] mahirjain01 commented on #165
@kpbot claim

[2022-10-05 23:01] mostlyaman commented on #170
Hi, I have added a minimal about section on the landing page. Let me know of any required changes.

[2022-10-06 13:11] #170 closed